%h2 Write a note!
= simple_form_for :note do |f|
  .form-inputs
    = f.input :text, :autofocus => true, :placeholder => 'Create a note...', :as => :text, :label => false
  .form-actions
    = f.button :submit, "Add note"