-# Boostrap javascript
-# Grab Google CDN's jQuery. fall back to local if necessary
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
%script window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>')
%script{:src => "/assets/js/bootstrap.min.js", :type =>"text/javascript"}
-# = javascript_include_tag 'jquery'
-# = javascript_include_tag 'bootstrap-transition'
-# = javascript_include_tag 'bootstrap-alert'
-# = javascript_include_tag 'bootstrap-modal'
-# = javascript_include_tag 'bootstrap-dropdown'
-# = javascript_include_tag 'bootstrap-scrollspy'
-# = javascript_include_tag 'bootstrap-tab'
-# = javascript_include_tag 'bootstrap-tooltip'
-# = javascript_include_tag 'bootstrap-popover'
-# = javascript_include_tag 'bootstrap-button'
-# = javascript_include_tag 'bootstrap-collapse'
-# = javascript_include_tag 'bootstrap-carousel'
-# = javascript_include_tag 'bootstrap-typeahead'