-# Bootstrap CSS files and requiered style
= stylesheet_link_tag 'bootstrap'
%style
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
= stylesheet_link_tag 'bootstrap-responsive'