-# Bootstrap CSS files and requiered style
-# %link{:href => "/assets/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
-# %style
-# body {
-# padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
-# }
%link{:href => "/assets/css/bootstrap-responsive.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}