.menu
  %h2 Menu
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Encabezado 1
      %li= link_to 'Opcion 1', '#'
      %li= link_to 'Opcion 2', '#'
      %li.nav-header Encabezado 2
      %li= link_to 'Opcion 5', '#'